<!-- ====== Newsletter Section Start -->
    <section class="py-12.5 bg-gray relative overflow-hidden z-10">
        <div class="absolute left-0 top-0 w-full h-full -z-1">
            <img src="/assets/sqv2/img/bg-dots.svg" alt="dot">
        </div>
        <div class="max-w-[1170px] mx-auto px-4 sm:px-8 xl:px-0">
            <div class="bg-white shadow-1 rounded-[10px] py-9 px-4 sm:px-8 xl:px-10">
                <div class="flex flex-wrap items-center justify-between gap-10">
                    <div class="max-w-[455px] w-full">
                        <h3 class="font-semibold text-heading-6 text-dark mb-3">
                            Kolaborasi dengan saya
                        </h3>
                        <p>
                            Jika Anda memiliki pertanyaan atau ingin mendiskusikan proyek, jangan ragu untuk
                            menghubungi saya. Saya
                            akan dengan senang hati membantu Anda.
                        </p>
                    </div>
                    <div class="max-w-[494px] w-full">
                        <div class="flex items-center gap-5">
                            <div class="max-w-[350px] w-full hidden md:flex lg:flex"></div>
                            <a href="/contact"
                                class="font-medium rounded-md text-white bg-dark flex py-3.5 px-5.5 hover:opacity-90 transition-all ease-linear duration-300 w-full md:inline lg:inline align-center justify-center">
                                Ajak Kolaborasi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ====== Newsletter Section End -->