<header class="bmd-layout-header">
	<div class="navbar navbar-light bg-faded ">
		<button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
			<span class="sr-only">Toggle drawer</span>
			<i class="material-icons">menu</i>

		</button>
		<div class="nav navbar-nav clearfix">
			<div class="nav-sq-l">
				<a href="/">

					<div class="logo-t-text ff-uo">
						<div class="logo-t"> 
							<img class="" src="/assets/sq/images/logo_icon_saidqb.png">
						</div>
						<div class="logo-text">saidqb </div>

					</div>
				</a>
			</div>
			<div class="nav-sq-r">
				<ul class="dnav-list-group">
					<li class="nav-item"><a href="/about"> About</a></li>
					<li class="nav-item"><a href="/coffee#saweria"><i class="material-icons">local_atm</i> Coffee</a></li>
					<li class="nav-item"><a href="/contact"><i class="material-icons">perm_phone_msg</i> Kontak</a></li>
					<li class="nav-item"><a href="/blog"><i class="material-icons">receipt</i> Blog</a></li>
				</ul>
			</div>
			<div class="nav-m-coffe mshow">
				<a href="/coffee#saweria#saweria"><i class="material-icons">local_atm</i></a>
			</div>
		</div>
	</div>
</header>

<div id="dw-s2" class="bmd-layout-drawer bg-faded">

	<header>
		<a class="menu-navbar-brand">
			<img class="" src="/assets/sq/images/logo_icon_saidqb.png">
		</a>
	</header>

	<ul class="mnav-list-group"></ul>

</div>