
<div class="col-md-4 post-box-item-list">
    <div class="card b-1 hover-shadow mb-20">
        <div class="media card-body">

            <div class="media-body">
                <div class="media-title">
                    <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
                        <h1 class="fs-16 fw-300" style="font-weight: bold;" title="{{ post.title }}">{{ post.title }}</h1>
                    </a>
                </div>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                    <!-- {% include star_rating_postbox.html %} -->
                </div>
                {% endif %}

            </div>
            <div class="media-right pl-12">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
                    <img class="avatar avatar-xl no-radius" src="https://ui-avatars.com/api/?name={{ post.title }}&bold=true&length=1" alt="...">
                </a>
            </div>
            <!-- <div class="media-right text-right d-none d-md-block">

            </div> -->
        </div>
        <footer class="card-footer flexbox align-items-center">
            <div>
              {% assign sortedCategories = post.categories | sort %}
              {% for category in sortedCategories %}
              <small class="fs-12 fw-300 ls-1"><a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a></small>, 
              {% endfor %}
              <!-- <strong class="fs-14">Applied on:</strong> -->
              <span class="post-date"><time class="fs-12" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                {% if post.last_modified_at %}
                (Updated: <time datetime="{{ post.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ post.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
            </span>

        </div>
        <div class="card-hover-show">
            <a class="btn btn-xs fs-10 btn-bold btn-outline-info px-2 py-1" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        </div>
    </footer>
</div>
</div>

