hr:not([size]) {
    height: 10px;
}

body > header{
    display: none;
}

#banner{
    top: 0;
    width: 100%;
    text-align: center;
}
#banner .fork{
    margin-right: unset;
    margin-left: unset;
    position: initial;
}
.wrapper > nav {
    top: 80px;
}

.wrapper section.content{
    margin-top: 80px;
}

@media print, screen and (max-width: 1060px){
    section.content{
        padding: 30px 30px 50px 30px;
    }


}
@media print, screen and (max-width: 720px){

    #banner .fork{
        float: initial;
    }
}

@media print, screen and (max-width: 480px){

    #banner{
        display: block;
    }
}