/*
 * @author  Saidqb (Muh Nurul Khomsa)
 * @link  https://saidqb.com
 * @since Version 1.0.0
 */
 
@font-face {
	font-family: 'Montserrat';
	src: font-url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
	font-url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
	font-url('../fonts/Montserrat/Montserrat-Italic.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

/*

*/
.dn{
	display: none;
}

body {
	-moz-osx-font-smoothing:grayscale;
	-ms-flex-direction:column;
	-webkit-box-direction:normal;
	-webkit-box-orient:vertical;
	-webkit-font-smoothing:antialiased;
	background:#f1f1f1;
	color:#777;
	flex-direction:column;
	font-family:Montserrat, sans-serif;
	font-size: 0.9em;
	font-weight:300;
	margin:0;
	min-height:100vh;
}





.sq-nav-header {
	background: #333;
	/*box-shadow:0 3px 15px rgba(0,0,0,.15);*/
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
	margin-bottom: 20px;
	position: relative;
	height: 54px;
	z-index: 1999;
}
.sq-nav-header .container{
	padding: 0;
}

.sq-nav-header ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
a, a:hover, a.active, a:active, a:visited, a:focus{
	color:#666;
	text-decoration:none;
	outline: 0;
}

.sq-nav-header a, 
.sq-nav-header a:hover, 
.sq-nav-header a.active, 
.sq-nav-header a:active, 
.sq-nav-header a:visited, 
.sq-nav-header a:focus{
	color:#fefefe;
	text-decoration:none;
	outline: 0;
}
.sq-nav-header .content{
	position: absolute;
	width: 100%;
}

.sq-nav-header .exo-menu{
	position: relative;
}
.sq-nav-header .exo-menu .em-ul{
	width: 100%;
	float: left;
	list-style: none;
	position:relative;
	/*! background: #23364B; */
}

.sq-nav-header .em-ul.exo-menu-l{
	float: left;
}
.sq-nav-header .em-ul.exo-menu-r{
	position: absolute;
	right: 0;
	width: auto;
	display: inline-block;
}


.sq-nav-header .exo-menu .em-ul > li {	display: inline-block;float:left;}
.sq-nav-header .exo-menu .em-ul > li > a{
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
	border-right: 1px #565656 dotted;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
.sq-nav-header .exo-menu .em-ul > li > a.active,
.sq-nav-header .exo-menu .em-ul > li > a:hover,
.sq-nav-header  li.drop-down ul > li > a:hover{
	background:#009FE1;
	color:#fff;
}
.sq-nav-header .exo-menu .em-ul i {
	font-size: 16px;
	margin-right: 6px;
	line-height: 20px !important;
}
.sq-nav-header li.drop-down,
.sq-nav-header .flyout-right,
.sq-nav-header .flyout-left{position:relative;}
.sq-nav-header li.drop-down:before {
	content: "\f103";
	color: #fff;
	font-family: FontAwesome;
	font-style: normal;
	display: inline;
	position: absolute;
	right: 6px;
	top: 20px;
	font-size: 14px;
}
.sq-nav-header li.drop-down>ul{
	left: 0px;
	min-width: 230px;

}
.sq-nav-header .drop-down-ul{display:none;}
.sq-nav-header .flyout-right>ul,
.sq-nav-header .flyout-left>ul{
	top: 0;
	min-width: 230px;
	display: none;
	border-left: 1px solid #365670;
}

.sq-nav-header li.drop-down>ul>li>a,
.sq-nav-header .flyout-right ul>li>a ,
.sq-nav-header .flyout-left ul>li>a {
	color: #fff;
	display: block;
	padding: 20px 22px;
	text-decoration: none;
	background-color: #365670;
	border-bottom: 1px dotted #547787;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
.sq-nav-header .flyout-right ul>li>a ,
.sq-nav-header .flyout-left ul>li>a {
	border-bottom: 1px dotted #B8C7BC;
}


/*Flyout Mega*/
.sq-nav-header .flyout-mega-wrap {
	top: 0;
	right: 0;
	left: 100%;
	width: 100%;
	display:none;
	height: 100%;
	padding: 15px;
	min-width: 742px;

}
.sq-nav-header h4.row.mega-title {
	color:#eee;
	margin-top: 0px;
	font-size: 14px;
	padding-left: 15px;
	padding-bottom: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}
.sq-nav-header .flyout-mega ul > li > a {
	font-size: 90%;
	line-height: 25px;
	color: #fff;
	font-family: inherit;
}
.sq-nav-header .flyout-mega ul > li > a:hover,
.sq-nav-header .flyout-mega ul > li > a:active,
.sq-nav-header .flyout-mega ul > li > a:focus{
	text-decoration: none;
	background-color: transparent !important;
	color: #ccc !important
}
/*mega menu*/

.sq-nav-header .mega-menu {
	left: 0;
	right: 0;
	padding: 15px;
	display:none;
	padding-top: 0;
	min-height: 100%;

}
.sq-nav-header h4.row.mega-title {
	color: #eee;
	margin-top: 0px;
	font-size: 14px;
	padding-left: 15px;
	padding-bottom: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #547787;
	padding-top: 15px;
	background-color: #365670
}
.sq-nav-header .mega-menu ul li a {
	line-height: 25px;
	font-size: 90%;
	display: block;
}
.sq-nav-header ul.stander li a {
	padding: 3px 0px;
}

.sq-nav-header ul.description li {
	padding-bottom: 12px;
	line-height: 8px;
}

.sq-nav-header ul.description li span {
	color: #ccc;
	font-size: 85%;
}
.sq-nav-header a.view-more{
	border-radius: 1px;
	margin-top:15px;
	background-color: #009FE1;
	padding: 2px 10px !important;
	line-height: 21px !important;
	display: inline-block !important;
}
.sq-nav-header a.view-more:hover{
	color:#fff;
	background:#0DADEF;
}
.sq-nav-header ul.icon-des li a i {
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	background-color: #009FE1;
	line-height: 35px !important;
}

.sq-nav-header ul.icon-des li {
	width: 100%;
	display: table;
	margin-bottom: 11px;
}
/*Blog DropDown*/
.sq-nav-header .Blog{
	left:0;
	display:none;
	color:#fefefe;
	padding-top:15px;
	background:#547787;
	padding-bottom:15px;
}
.sq-nav-header .Blog .blog-title{
	color:#fff;
	font-size:15px;
	text-transform:uppercase;

}
.sq-nav-header .Blog .blog-des{
	color:#ccc;
	font-size:90%;
	margin-top:15px;
}
.sq-nav-header .Blog a.view-more{
	margin-top:0px;
}
/*Images*/
.sq-nav-header .Images{
	left:0;
	width:100%;
	display:none;
	color:#fefefe;
	padding-top:15px;
	background:#547787;
	padding-bottom:15px;
}
.sq-nav-header .Images h4 {
	font-size: 15px;
	margin-top: 0px;
	text-transform: uppercase;
}
/*common*/
.sq-nav-header .flyout-right ul>li>a ,
.sq-nav-header .flyout-left ul>li>a,
.sq-nav-header .flyout-mega-wrap,
.sq-nav-header .mega-menu{
	background-color: #547787;
}

/*hover*/
.sq-nav-header .Blog:hover,
.sq-nav-header .Images:hover,
.sq-nav-header .mega-menu:hover,
.sq-nav-header .drop-down-ul:hover,
.sq-nav-header li.flyout-left>ul:hover,
.sq-nav-header li.flyout-right>ul:hover,
.sq-nav-header .flyout-mega-wrap:hover,
.sq-nav-header li.flyout-left a:hover +ul,
.sq-nav-header li.flyout-right a:hover +ul,
.sq-nav-header .blog-drop-down >a:hover+.Blog,
.sq-nav-header li.drop-down>a:hover +.drop-down-ul,
.sq-nav-header .images-drop-down>a:hover +.Images,
.sq-nav-header .mega-drop-down a:hover+.mega-menu,
.sq-nav-header li.flyout-mega>a:hover +.flyout-mega-wrap{
	display:block;
}

.sq-nav-header a.toggle-menu{
	display: none;
	position: absolute;
	right: 2px;
	padding: 14px;
	font-size: 14px;
	background-color: #ccc;
	color: #23364B;
	top: 2px;
}
.header-logo-li{
	background: #fff;
}
.sq-nav-header .exo-menu .em-ul > li.header-logo-li > a{
	border-right:none;
}
.sq-nav-header .exo-menu .em-ul > li.header-logo-li > a:hover{
	background: #fff;
}
.header-logo{
	height: 19px;
}


/*responsive*/
@media (min-width:767px){
	.sq-nav-header .exo-menu .em-ul > li > a{
		display:block;
		padding: 16px 18px;
	}
	.sq-nav-header .mega-menu, .sq-nav-header .flyout-mega-wrap, .sq-nav-header .Images, .sq-nav-header .Blog,.sq-nav-header .flyout-right>ul,
	.sq-nav-header .flyout-left>ul, .sq-nav-header li.drop-down>ul{
		position:absolute;
	}
	.sq-nav-header .flyout-right>ul{
		left: 100%;
	}
	.sq-nav-header .flyout-left>ul{
		right: 100%;
	}
}
@media (max-width:767px){
	.dn{
		display: inline;
	}

	.sq-nav-header li.drop-down::before{
		right: 20px;
	}
	.sq-nav-header .exo-menu .em-ul {
		/*min-height: 58px;*/
		background-color: #23364B;
		width: 100%;
	}
	
	.sq-nav-header .exo-menu .em-ul > li > a{
		width:100% ;
		display:none ;

	}
	.sq-nav-header .exo-menu .em-ul > li{
		width:100%;
	}
	.sq-nav-header .display.exo-menu .em-ul > li > a{
		display:block ;
		padding: 16px 18px;
	}
	
	.sq-nav-header .mega-menu, .sq-nav-header .Images, .sq-nav-header .Blog,.sq-nav-header .flyout-right>ul,
	.sq-nav-header .flyout-left>ul, .sq-nav-header li.drop-down>ul{
		position:relative;
	}
	.sq-nav-header a.toggle-menu{
		display: block;
	}

	.sq-nav-header .em-ul.exo-menu-r{
		position: static;
	}
}








.sq-big-menu-outer{
	background: #fff;
}

#sq-big-menu {
	width: 100%;
}
#sq-big-menu ul {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	height: 118px;
	background-color: #fff;
	font-size: 0px;
}
#sq-big-menu ul:hover li {
	width: 13.33333%;
}
#sq-big-menu ul li {
	display: inline-block;
	float: left;
	width: 16.66667%;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0px 1px 3px white;
	border-right: thin solid lightgray;
}
#sq-big-menu ul li:last-child {
	border-right: none;
}
#sq-big-menu ul li:hover {
	background: #e6e6e6;
	width: 33.33333%;
	-moz-box-shadow: inset 10px 10px 10px -10px rgba(0, 0, 0, 0.3), inset -10px 10px 10px -10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 10px 10px 10px -10px rgba(0, 0, 0, 0.3), inset -10px 10px 10px -10px rgba(0, 0, 0, 0.3);
	box-shadow: inset 10px 10px 10px -10px rgba(0, 0, 0, 0.3), inset -10px 10px 10px -10px rgba(0, 0, 0, 0.3);
}
#sq-big-menu ul li a {
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 19px;
	height: 118px;
	text-decoration: none;
	font-size: 38px;
	color: gray;
}
#sq-big-menu ul li a:visited {
	color: gray;
}
#sq-big-menu ul li div {
	margin-top: 5px;
	font-weight: 600;
	font-size: 13px;
}


canvas {

	top: 0;
	left: 0;
	background-color: #fff;
}


/* MAIN */

.opening{
	background: #f1f1f1;
	position: relative;

}



/* =====================
MAIN 
===================== */
.main_one{
}
.m_one_code code[class*="language-"], .m_one_code pre[class*="language-"]
{
	-moz-tab-size: 4;
	-moz-hyphens: none;
}
.line-numbers .line-numbers-rows {
	left: -21.8em;
	width: 2em;
}
.m_one_code pre code{
	width: 200px;
}
.m_one_code pre{
	min-height: 367px;
	border-radius: 0;
	border:1px solid #f1f1f1;
	margin-top: 0;
	margin-bottom: 0;
}

.moc_top{background: #333; color:#f1f1f1; border-radius: 15px 15px 0 0; padding:10px 0;}
.moc_top ul{list-style: none;margin: 0;padding: 0 10px;}
.moc_top > ul.pull-right{
	font-size: 12px;
	padding: 0 10px;
}
.moc_top > .pull-right > b{
	display: inline-block;
	background: #fff;
	padding: 2px 10px;
}
.moc_syntax{
	padding: 0 10px;
	background: #333;
}
.moc_bot{
	background: #8492A5;
	border-radius:0 0 5px 5px; 
	padding: 10px 0;
}
.moc_bot ul{
	list-style: none;margin: 0;padding: 0 10px;
	display: inline-block;
}
.moc_bot ul li{
	float: left;
	margin: 0 10px;
}
.moc_bot ul li a{
	color: #F9F9F9;
}


.main-about{
	height: 200px;
	background: #fff;
}


/* FOOTER */
#foooter{

}
.footer_menu{
	padding: 10px;
	background: #333;
}

.copyright {
    color: #fff;
    background: #222;
}